.page-header.navbar .page-logo > a{
  height: 100%;
  margin-left: 40px;
}

.page-header.navbar .page-logo .logo{
  height: 100%;
}

.page-header-inner .nav.navbar-nav li {
  height: 74px;
}

.page-header-inner .nav.navbar-nav li.active {
  border-bottom: 2px solid #5cce6a;
}

.page-header-inner .nav.navbar-nav li > a{
  padding-top: 27px;
  padding-bottom: 27px;
}

/*App*/
#app-breadcrumbs li.active .fa{
  display: none;
}

/*Field Page*/
#field-page .portlet{
  height: 520px;
}
#field-page .page-content {
  padding-top: 0px;
}

/*Sidebar*/
.page-sidebar-menu .nav-item .fa, .page-sidebar-menu .nav-item i {
  margin-right: 5px;
}

/*Portlet*/
.portlet .portlet-title .caption > .fa, .portlet .portlet-title .caption > i{
  margin-right: 10px;
}

.portlet .features-table{
  margin-bottom: 0px;
}

.portlet .feature-table tr:first-child td{
  border-top: 0px !important;
}

.portlet .feature-table tr td.feature-name{
  width: 25%;
  font-weight: bold;
}

.portlet .feature-table tr td.feature-actions{
  width: 10%;
  font-weight: bold;
  text-align: center;
}

/*Login*/
.login {
  background-color: transparent !important;
}
.login  .background-img {
  position: fixed;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background: url(../img/login-bg5.jpg);
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}
.login .logo img{
  width: 75px;
}

.login  .content  .form-actions{
  padding-bottom: 10px;
  border-bottom: 0;
}

.login .copyright {
    color: #fff;
    margin-top: 15px
}

.input-icon > span {
    color: #ccc;
    display: block;
    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
    left: 0;
}

#map-fields {
  height: 425px;
}
